*{
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    overflow-x:hidden
}
.header{
    flex-direction: column;
    width: 99vw;
    display: flex;
    background: url(img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 99.99vh;
    justify-content: space-between;
}
.header__link{
    display: flex;
}
.header__wrapp{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__a{
    text-decoration: none;
    margin: 1.4rem;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 400;

}
.title{
    flex-direction: column;
    display: flex;
}
.container{
    display: flex;
    max-width: 1400px;
    width: 1251px;
    max-height: 962px;
    justify-content: center;
}
.title1{
    word-wrap: normal;
    display: flex;
    width: 870px;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.button{
    cursor: pointer;
    display: inline-flex;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));
}
.button1{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.timer__wrapp{
    display: flex;
    flex-direction: row;
}
.dhms{
    margin: 0.5rem;
    display: flex;
    padding: 15px 25px;
    background: #121212;
    flex-direction: column;
    align-items: center;
}
.time{
    color: var(--white, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.time__dhms{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.4000000059604645;
}
.bottom__main{
    display: flex;
    background: #121212;
    height: 96px;
    width: 100vw;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.bottom{
    display: flex;
    align-items: center;
}
.course__button{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 30px;
    background: var(--grad-1, linear-gradient(141deg, #DF5950 0%, #451046 100%));
    border-radius: 50px;
}
.bot__button__text{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.people{
    color: var(--white, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.4000000059604645;
}
.people__count{
    color: var(--white, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}
.bottom__wrapp{
    display: flex;
}
.members__main{
    display: flex;
    flex-direction: column;
    width: 13rem;
}
.line{
    background: var(--white, #FFF);
    width: 500px;
    height: 4px;
    flex-shrink: 0;
}
.line__gradient{
    width: 240px;
    height: 4px;
    flex-shrink: 0;
    background: var(--grad-1, linear-gradient(141deg, #DF5950 0%, #451046 100%));
}
.money__people{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.4;
    margin-right: 4rem;
}
.money__earned{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}
.goal{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.4;
}
.goal__million{
    color: var(--white, #FFF);
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.4;
}
.members__all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.members__now{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.money__result{
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.money__goal{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.money__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;   
}
.grid{
    background: url(/img/mainbcg.png),lightgray 0% 0% / 50px 50px repeat;
    background-size: cover;
    width: 99vw;
    height: 6599px;

}