*{
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    background: url(img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.header__link{
    display: flex;
}
.header__wrapp{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__a{
    text-decoration: none;
    margin: 1.4rem;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 400;

}
.title{
    flex-direction: column;
    margin-top: 10rem;
    display: flex;
}
.container{
    display: flex;
    max-width: 1400px;
    width: 1400px;
    max-height: 1000px;
    justify-content: center;
}
.title1{
    word-wrap: normal;
    display: flex;
    width: 780px;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 800;
}
.button{
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));
}
.button1{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.timer__wrapp{
    display: flex;
    flex-direction: row;
}
.dhms{
    margin: 1rem;
    display: flex;
    padding: 15px 25px;
    background: #121212;
    flex-direction: column;
    align-items: center;
}
.time{
    color: var(--white, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.time__dhms{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.4000000059604645;
}
/* .bottom__main{
    display: flex;
    background: #121212;
    height: 130px;
    width: 100vw;
    flex-shrink: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.bottom{
    vertical-align: bottom;
    display: flex;

}
.course__button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    background: var(--grad-1, linear-gradient(141deg, #DF5950 0%, #451046 100%));
    border-radius: 50px;
}
.bot__button__text{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.people{
    color: var(--white, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.4000000059604645;
}
.people__count{
    color: var(--white, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}
.bottom__wrapp{
    display: flex;
    vertical-align: bottom;
} */

